* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------HEADER---------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  font-weight: 500;
  color: #2e2f42;
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-link.active {
  color: #404bbf;
}

.navigation-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;

}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.17;
  text-decoration: none;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.web-name {
  color: #4d5ae5;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.address-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ------------------ORDER---------------- */

.order {
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/order-bg.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  white-space: nowrap;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------FEATURES---------------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  letter-spacing: 0.02em;
}

.features-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

/* ------------------TEAM---------------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  align-items: center;
  width: calc((100% - 72px) / 4);
}

.container-team-item {
  padding: 32px 16px;
}

.team-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-card-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social {
  width: 40px;
  height: 40px;
  display: flex;
  color: #f4f4fd;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social svg {
  fill: currentColor;
}

.social:hover,
.social:focus {
  background-color: #404bbf;
  color: #fff;
}


/* ------------------PORTFOLIO---------------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  align-items: center;
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
}

.portfolio-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.container-portfolio-item-title {
  align-items: center;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item-text {
  letter-spacing: 0.02em;
}

.portfolio-cashless {
  position: relative;
  overflow: hidden;
}

.portfolio-cashless-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
}

.portfolio-item:hover .portfolio-cashless-text {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* ------------------FOOTER---------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
  color: #f4f4fd;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}

.footer-text-right {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social {
  gap: 16px;
  color: #f4f4fd;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-social svg {
  fill: currentColor;
}

.footer-social:hover,
.footer-social:focus {
  background-color: #31d0aa;
  color: #fff;
}

.footer-team-card-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  ;
}